body {
  background-color: white;
  color: white;
  font-family: "Open Sans";
}

.page-content {
  padding: 10px;
}

#banner {
  background-image: url("banner.jpg");
  background-size: cover;
  height: 200px;
}

.navbar, .well {
  background-color: #3487F1;
}

.nav > li > a:link, h1, h2, h3, h4, h5, h6 {
  color: #F5E051;
}

.links > li {
  list-style-type: none;
}

.links > li > a:link {
  color: white;
}

#welcome {
  text-align: center;
}